.paperFactory {
  background: url("/assets/images/paper-factory.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 280px;
  width: 300px;
  margin: auto;
  position: absolute;
  user-select: none;

  .count {
    top: 245px;
    left: 20px;
  }

  .gps {
    top: 245px;
    left: 20px;
  }
}