@media (max-width: 767px) {
  .gameModalButton {
    padding: 4px 8px;

    .actions & {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .gameModalButton {
    padding: 12px 24px;

    .actions & {
      margin-left: 10px;
    }
  }
}

.gameModalButton {
  color: white;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #682413;
  font-family: inherit;
  margin-top: 12px;
  cursor: pointer;
  
  &:hover {
    background-color: #81240d,
  }

  &:focus {
    outline: none;
  }

  border-radius: 6px;
  box-shadow: 2px 2px 0px #42170c;

  &:active {
    box-shadow: 1px 1px 0px #42170c;
    transform: translate(0, 2px);
  }
}