.lumberCamp {
  background: url("/assets/images/lumber-camp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 280px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 270px;
  left: 10px;
  user-select: none;

  .count {
    top: 215px;
  }

  .gps {
    top: 215px;
  }
}