.game-canvas {
  background: url("/assets/images/bg-small.png");
  background-repeat: repeat-x;
  position: absolute;
  height: 100%;
  width: 100%;

  .clickingArea {
    position: absolute;
    top: 230px;
    margin: auto;
    width: 100%;
    height: calc(100% - 230px);
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media (min-width: 768px) {
  .game-canvas {
    background: url("/assets/images/bg.png");
    height: 1024px;
  
    .clickingArea {
      top: 400px;
      height: 850px;
    }
  }
}