@media (min-width: 900px){
  .gameModal.upgradesModal {
    width: 800px;
    font-size: 24px;

    .upgradeCell {
      flex: 1 1 280px;
      padding: 15px;
      text-align: center;
  
      .fas {
        margin-right: 10px;
      }
  
      .description {
        margin-top: 4px;
        font-size: 18px;
      }
    }
  
    .priceCell {
      flex: 1 1 200px;

      i {
        margin-right: 4px;
      }
    }
  
    .countCell {
      flex: 1 1 150px;
      position: relative;
    }
  
    .actionCell {
      flex: 1 1 100px;
    }
  }
}

@media (max-width: 899px){
  .gameModal.upgradesModal {
    top: 0;
    width: calc(100% - 8px);
    font-size: 18px;

    .content {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .upgradeCell {
      flex: 1 1 100px;
      padding: 5px;
      text-align: center;
  
      .fas {
        margin-right: 1px;
      }
  
      .description {
        margin-top: 2px;
        font-size: 12px;
      }
    }
  
    .priceCell {
      flex: 1 1 100px;
      max-width: 100px;

      .label {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    .countCell {
      flex: 1 1 40px;
      position: relative;
    }
  
    .actionCell {
      flex: 1 1 30px;
    }
  }
}

.upgradesModal {
  font-size: 24px;
  
  .content {
    padding-top: 20px;
  }

  .header {
    display: flex;
  }

  .upgradeCell, .priceCell, .countCell, .actionCell {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    box-shadow: 6px 4px 16px #562d22;
  }

  .fa-users {
    color: #08a222;
  }

  .fa-truck-pickup {
    color: #e6e63b;
  }

  .fa-burn {
    color: #ff6a00;
  }

  .fa-campground {
    color: #d41e1e;
  }

  .upgradesRow {
    display: flex;
    justify-content: space-around;

    .upgradesCell {
      display: flex;

      * {
        margin-left: 10px;
      }
    }

    .label {
      margin-top: 18px;
    }
  }
}