.upgradesModal {
  width: 900px;
  font-size: 24px;
  
  .content {
    padding-top: 20px;
  }

  .header {
    display: flex;
  }

  .upgradeCell, .priceCell, .countCell, .actionCell {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    box-shadow: 6px 4px 16px #562d22;
  }

  .upgradeCell {
    flex: 1 1 280px;
    padding: 15px;
    text-align: center;

    .fas {
      margin-right: 10px;
    }

    .description {
      margin-top: 4px;
      font-size: 18px;
    }
  }

  .priceCell {
    flex: 1 1 200px;
  }

  .countCell {
    flex: 1 1 150px;
    position: relative;
  }

  .actionCell {
    flex: 1 1 70px;
  }

  .fa-users {
    color: #08a222;
  }

  .fa-truck-pickup {
    color: #e6e63b;
  }

  .fa-burn {
    color: #ff6a00;
  }

  .fa-campground {
    color: #d41e1e;
  }

  .upgradesRow {
    display: flex;
    justify-content: space-around;

    .upgradesCell {
      display: flex;

      * {
        margin-left: 10px;
      }
    }

    .label {
      margin-top: 18px;
    }
  }
}