@media (max-height: 1079px) {
  .gameModal.achievementsModal {
    top: 0px;
  }
}

@media (min-height: 1080px) {
  .gameModal.achievementsModal {
    top: 60px;
  }
}

@media (min-width: 768px){
  .gameModal.bonusesModal {
    width: 480px;
  }

  .gameModal.achievementsModal {
    width: 768px;
    font-size: 24px;
  
    .category {
      flex: 1 1 340px;
      text-align: center;
      font-size: 26px;
    }
  
    .achievementCell {
      flex: 1 1 100%;
      flex-wrap: wrap;
      font-size: 20px;
    }
  
    .achievement {
      border: 5px outset #a0523b;
      padding: 5px;
      margin: 5px;
  
      &.unlocked {
        border-style: inset;
      }
    }
  }
}

@media (max-width: 757px){
  .gameModal.bonusesModal {
    top: 50px;
    width: calc(100% - 8px);
  }

  .gameModal.achievementsModal {
    top: 0;
    width: calc(100% - 8px);
    font-size: 18px;

    .content {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .category {
      flex: 1 1 120px;
      text-align: center;
      font-size: 16px;
    }
  
    .achievementCell {
      flex: 1 1 100%;
      flex-wrap: wrap;
      font-size: 12px;
    }
  
    .achievement {
      border: 3px outset #a0523b;
      padding: 3px;
      margin: 3px;
  
      &.unlocked {
        border-style: inset;
      }
    }
  }
}

.gameModal.achievementsModal {
  .header {
    display: flex;
  }

  .category, .achievementCell {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    box-shadow: 6px 4px 16px #562d22;
    padding: 20px 0;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }
}

.fa-award {
  color: #e4e400;
  margin-left: 5px;
}

.bonusesButton {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-top: -20px;
}

.gameModal.bonusesModal {
  .content {
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    margin-left: -10px;

    .category {
      padding: 7px;
    }
  }
}