.alerts {
  position: fixed;
  width: 100%;
  user-select: none;
  text-align: center;

  .message {
    display: inline-block;
    animation-name: flash, colorsChange; 
    animation-duration: 300ms, 800ms; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    background: rgba(207, 239, 252, 0.7);
    text-shadow: 1px 1px black;
  }
}

@keyframes flash {
  from {transform: scale(1, 1);}  
  to {transform: scale(1.03, 1.03);}
}

@keyframes colorsChange {
  from {color: #a50000;}  
  to {color: #ec0000;}
}

@media (max-width: 765px) {
  .alerts {
    background: rgba(207, 239, 252, 0.7);
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);

    .message {
      background: none;
    }

    h2 {
      font-size: 18px;
    }
  }
}