@media (min-width: 800px){
  .gameModal.marketModal {
    width: 800px;
    font-size: 24px;

    .materialCell {
      padding-top: 8px;
      flex: 1 1 150px;
    }
  
    .priceCell {
      padding-top: 8px;
      padding-left: 10px;
      flex: 1 1 80px;
    }
  
    .actionsCell {
      flex: 1 1 300px;
    }

    .marketActions {
      .gameModalButton {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 799px){
  .gameModal.marketModal {
    top: 0;
    width: calc(100% - 8px);
    font-size: 18px;

    .content {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .materialCell {
      flex: 1 0 80px;
    }
  
    .priceCell {
      flex: 1 0 60px;
    }
  
    .actionsCell {
      flex: 1 0 60px;
    }

    .marketActions {
      .gameModalButton {
        margin-left: 0;
      }
    }
  }
}

.gameModal.marketModal {
  .content {
    padding-top: 20px;
  }

  .header {
    display: flex;
  }

  .materialCell, .priceCell, .actionsCell {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    box-shadow: 6px 4px 16px #562d22;
  }

  .actionsCell {
    .row {

      display: flex;
      margin-left: 10px;

      .label {
        margin-top: 18px;
        margin-right: 10px;
      }
    }
  }

  .marketRow {
    display: flex;
    justify-content: space-around;

    .fas {
      margin-right: 8px;
    }

    .materialName {
      text-transform: capitalize;
    }
  }
}