.marketModal {
  width: 800px;
  font-size: 24px;

  .content {
    padding-top: 20px;
  }

  .header {
    display: flex;
  }

  .materialCell, .priceCell, .actionsCell {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    box-shadow: 6px 4px 16px #562d22;
  }

  .actionsCell {
    .row {

      display: flex;
      margin-left: 10px;

      .label {
        margin-top: 18px;
        margin-right: 10px;
      }
    }

    .marketActions {
      .gameModalButton {
        margin-left: 15px;
      }
    }
  }

  .materialCell {
    flex: 1 1 150px;
  }

  .priceCell {
    flex: 1 1 80px;
  }

  .actionsCell {
    flex: 1 1 300px;
  }

  .marketRow {
    display: flex;
    justify-content: space-around;

    .fas {
      margin-right: 8px;
    }

    .fa-tree {
      color: #239135;
    }

    .fa-fire {
      color: black;
    }

    .fa-coins {
      color: #debb00;
    }

    .materialName {
      text-transform: capitalize;
    }
  }
}