.userInterface {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  overflow: hidden;

  .menu {
    z-index: 2;
  }

  .uiButton {
    background-color: #682413;
    padding: 10px;
    width: 170px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 0px #42170c;

    &:active {
      box-shadow: 2px 2px 0px #42170c;
      transform: translate(0, 2px);
    }

    .buttonIcon {
      font-size: 24px;
      margin-left: 10px;

      i {
        margin-top: 3px;
      }
    }
  }
}

.fa-tree {
  color: #239135;
}

.fa-fire {
  color: black;
}

.fa-coins {
  color: #debb00;
}

.fa-grip-lines-vertical {
  color: #a06b0a;
}

.fa-couch {
  color: #2d8bff;
}

.fa-city {
  color: black;
}

.fa-warehouse {
  color: white;
}

.fa-copy {
  color: white;
}
