.tree {
  position: relative;
  margin: auto;
  height: 298px;
  width: 138px;
  cursor: pointer;
  left: 70px;
}

.tree-basic {
  background: url("/assets/images/tree.png");
  background-size: contain;
}

.tree-dead {
  background: url("/assets/images/treeDead.png");
  background-size: contain;
  width: 210px;
  right: 10px;
}

.tree-long {
  background: url("/assets/images/treeLong.png");
  background-size: contain;
  width: 98px;
}

.tree-long-orange {
  background: url("/assets/images/treeLongOrange.png");
  background-size: contain;
  width: 98px;
}

.tree-orange {
  background: url("/assets/images/treeOrange.png");
  background-size: contain;
  width: 117px;
}

.tree-palm {
  background: url("/assets/images/treePalm.png");
  background-size: contain;
  width: 250px;
  right: 20px;
}

.tree-pine {
  background: url("/assets/images/treePine.png");
  background-size: contain;
  width: 125px;
}

.tree-pine-orange {
  background: url("/assets/images/treePineOrange.png");
  background-size: contain;
  width: 125px;
}

.bounce {
  animation: shake 0.45s cubic-bezier(.18,.04,.12,.87) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (min-width: 768px) {
  .tree {
    left: 0;
  }
}