.burner {
  background: url("/assets/images/burner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px;
  height: 280px;
  width: 350px;
  margin: auto;
  position: absolute;
  top: 330px;
  right: 20px;
  user-select: none;

  .count {
    top: 255px;
    left: -10px;
  }

  .gps {
    top: 255px;
    left: -10px;
  }

  .fire {
    background: url("/assets/images/fire.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    width: 80px;
    height: 80px;
    position: relative;
    left: 105px;
    top: 70px;
  }
}