$base-position: 0px -30px;

.helper {
  background: url("/assets/images/helper-tilesheet.png");
  background-position: $base-position;
  height: 280px;
  width: 220px;
  margin: auto;
  position: absolute;
  top: 20px;
  left: 100px;
  animation: helperCut 15s steps(1, start) infinite;
  user-select: none;

  .count {
    top: 245px;
    left: 10px;
  }

  .gps {
    top: 245px;
    left: 10px;
  }
}

@keyframes helperCut {
  0% {
    background-position: $base-position;
  }

  25% {
    background-position: -230px -30px;
  }

  50% {
    background-position: -460px -30px;
  }

  75% {
    background-position: -700px -30px;
  }
}