.furnitureFactory {
  background: url("/assets/images/furniture-factory.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 380px;
  height: 280px;
  width: 380px;
  margin: auto;
  position: absolute;
  top: 520px;
  left: 150px;
  user-select: none;

  .count {
    color: white;
    font-size: 20px;
    top: 245px;
    left: 20px;
    position: relative;
    text-align: center;
  }

  .gps {
    text-align: center;
    color: white;
    font-size: 20px;
    top: 245px;
    left: 20px;
    position: relative;
  }
}