.buldozer {
  background: url("/assets/images/buldozer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  height: 280px;
  width: 350px;
  margin: auto;
  position: absolute;
  top: 50px;
  right: 120px;
  user-select: none;

  .count {
    top: 225px;
  }

  .gps {
    top: 225px;
  }
}