.buldozer {
  background: url("/assets/images/buldozer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
  height: 280px;
  width: 350px;
  margin: auto;
  position: relative;
  top: -800px;
  left: -400px;
  user-select: none;

  .count {
    color: white;
    font-size: 20px;
    top: 255px;
    position: relative;
    text-align: center;
  }

  .gps {
    text-align: center;
    color: white;
    font-size: 20px;
    top: 255px;
    position: relative;
  }
}