@media (min-width: 300px) {
  .buldozer {
    left: calc(50% + 35px);
  }
}

@media (min-width: 768px) {
  .buldozer {
    left: calc(50% + 65px);
  }
}

@media (min-width: 1024px) {
  .buldozer {
    left: calc(50% + 165px);
  }
}

@media (min-width: 1025px) {
  .buldozer {
    left: calc(50% + 230px);
  }
}

.buldozer {
  background: url("/assets/images/buldozer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  height: 280px;
  width: 350px;
  margin: auto;
  position: absolute;
  top: 50px;
  user-select: none;

  .count {
    top: 225px;
  }

  .gps {
    top: 225px;
  }
}