.playerStats {
  padding: 5px;
  font-size: 18px;
  user-select: none;
  color: #000000ba;

  .resources {
    padding: 10px;
  }

  .stat {
    margin-bottom: 8px;
  }

  .fa-tree {
    color: #239135;
  }

  .fa-coins {
    color: #debb00;
  }
}

@media (min-width: 768px) {
  .playerStats {
    font-size: 25px;
  }
}