$base-position: 0px -60px;

.player {
  background: url("/assets/images/character-tilesheet.png");
  background-position: $base-position;
  height: 240px;
  width: 220px;
  margin: auto;
  position: relative;
  top: -200px;
  left: -140px;
}

.cutting {
  animation: cut 0.15s steps(1, end);
  background-position: $base-position;
}

@keyframes cut {
  0% {
    background-position: -230px -60px;
  }

  25% {
    background-position: -440px -30px;
  }

  50% {
    background-position: -660px -60px;
    width: 240px;
  }
}