$base-position: 0px -60px;

.player {
  background: url("./assets/character-tilesheet.png");
  background-position: $base-position;
  height: 240px;
  width: 220px;
  position: relative;
  top: 200px;
  right: 120px;
  margin: auto;
}

.cutting {
  animation: cut 0.3s steps(1, end);
  background-position: $base-position;
}

@keyframes cut {
  0% {
    background-position: -230px -60px;
  }

  25% {
    background-position: -440px -30px;
    top: 170px;
  }

  50% {
    background-position: -660px -60px;
    width: 240px;
  }
}